<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
    </head>
    <body>
        <p>{{profile.user}}</p>

        <div>
            <p>공인시험 인증 내역</p>
            {% for test in test_list %} {% if test %}
            <div>{{test}}</div>
            {% endif %} {% endfor %}
        </div>

        <div>
            <h1>이거 하드코딩을 해서라도 시험별 인덱스 잘 나오게</h1>
            <h1>아래에 있는 OPIC글자를 장고 변수로 할당하기</h1>

            <p>OPIC 인증 여부 : {{profile.validations.opic}}</p>
            <p>OPIC 점수 : {{profile.validations.opic_class}}</p>
        </div>

        <p>내 스터디</p>
        {% for study in studies %}
        <p>{{study.study_name}}</p>
        {% endfor %}

        <button><a href="{% url 'agongda:logout' %}">로그아웃</a></button>
    </body>
</html>
